@model Domain.Dtos.DemoReport.Report1
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>CA Report</title>
    <style type="text/css">
    </style>
</head>
<body>
    <h1>Report 1</h1>
    <br />
    Title: @Model.Title
    <br />
    Name: @Model.Name
</body>
</html>
